@{
    Layout = "";
}
@model Nop.Plugin.Payments.Boleto.Models.PaymentInfoModel
<table width="100%" cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td>
            <label class="form-control">Emitir Boleto:</label>
        </td>
        <td>
            <input type="button" class="form-control" value="Gerar Boleto"/>
        </td>
    </tr>
    
</table>
